In [49]:
# Inspect and Analyse

import pandas
from collections import defaultdict
import json

In [ ]:
a = pandas.read_csv("CardsOperations.csv",sep=";",error_bad_lines=False, encoding = "ISO-8859-1")

In [5]:
a.head()

,CLIENT_UK,CARD_UK,ACCOUNT_UK,OPERATION_CURRENCY,COUNTRY_CCODE,MCC_CCODE,MCC_DESCRIPTION,MRC_NK,MRC_NAME,CARDTRNOPKIND_CCODE,CARD_OPERATION_CCODE,CARD_OPERATION_NAME,OPDATE_TIME,OPERATION_CUR_AMT,SUMMARUR_AMT
0,33828007872,43266132958,33832184822,RUR,RUS,5541,Service stations,1329103684,RNAZK 180 VNP,PURCH,TPTP101,Europay retail,17-55-2017 02:55:41,862.22,862.22
1,5525093601,38740164759,5590464063,RUR,RUS,4900,"Utilities-electric,gas,water",1337813696,PAY.MCPLAT,PURCH,TPTP101,Europay retail,16-17-2017 09:17:06,3943.87,3943.87
2,34844690974,34896151827,34848702402,RUR,RUS,5814,Fast food res. (Quick P S P),18012897,MCDONALDS 21079,PURCH,TPTP101,Europay retail,17-32-2017 03:32:31,412.00,412.00
3,5527394345,41058133392,5584919189,RUR,RUS,5411,"Grocery stores,supermarkets",1916643026,TABRIS N11,PURCH,TPTP101,Europay retail,15-49-2017 10:49:56,404.00,404.00
4,5529714142,33107706156,22924129710,RUR,RUS,7011,"Hotels,Motels,Resorts-Lodgin",752375701,OOO ARIOLI,PURCH,TPTP101,Europay retail,18-11-2017 04:11:06,3000.00,3000.00

In [ ]:
pandas.unique(a["COUNTRY_CCODE"])

In [ ]:
pandas.unique(a["MCC_DESCRIPTION"])

In [8]:
a[a["COUNTRY_CCODE"]=="DEU"].head()

,CLIENT_UK,CARD_UK,ACCOUNT_UK,OPERATION_CURRENCY,COUNTRY_CCODE,MCC_CCODE,MCC_DESCRIPTION,MRC_NK,MRC_NAME,CARDTRNOPKIND_CCODE,CARD_OPERATION_CCODE,CARD_OPERATION_NAME,OPDATE_TIME,OPERATION_CUR_AMT,SUMMARUR_AMT
5,23876695556,37616752360,30233780448,EUR,DEU,5541,Service stations,3958404,ARAL STATION 120810148,PURCH,TPTP101,Europay retail,17-19-2017 01:19:18,60.86,4047.820000
743,33667629829,33676798954,33671474254,EUR,DEU,5309,Duty free Stores,5643431,HEINEMANN DUTY FREE,PURCH,TPTP101,Europay retail,18-47-2017 01:47:55,44.00,2926.320000
751,5524235920,31878124667,5615657422,RUR,DEU,5999,Miscellaneous & specialty re,575398,PAYPAL *ELEMENT5 WWW.E,PURCH,TPTP101,Europay retail,25-50-2017 01:50:14,2525.84,2525.840000
792,22527428082,34922938957,34920900934,EUR,DEU,5411,"Grocery stores,supermarkets",46238,ALDI GMBH & CO.KG,PURCH,TPTP101,Europay retail,24-02-2017 03:02:54,9.77,645.617232
1660,5527688423,33153796953,5587617894,EUR,DEU,5311,Department stores,3128,GALERIA KAUFHOF,PURCH,TPTP101,Europay retail,24-42-2017 10:42:30,5.98,395.167968

In [17]:
mean = a.groupby(['COUNTRY_CCODE', 'MCC_DESCRIPTION'])['SUMMARUR_AMT'].mean()

In [20]:
minn = a.groupby(['COUNTRY_CCODE', 'MCC_DESCRIPTION'])['SUMMARUR_AMT'].quantile(q=0.25)

In [21]:
maxx = a.groupby(['COUNTRY_CCODE', 'MCC_DESCRIPTION'])['SUMMARUR_AMT'].quantile(q=0.75)

In [13]:
pandas.__version__

'0.20.3'

In [18]:
type(mean)

pandas.core.series.Series

In [22]:
meanDict = mean.to_dict()

In [23]:
maxxDict = maxx.to_dict()

In [24]:
minnDict = minn.to_dict()

In [ ]:
meanGrDict = defaultdict

In [35]:
รง
for i in meanDict:
    meanFinal[i[0]][i[1]] = meanDict[i]

In [36]:
minnFinal = defaultdict(lambda : defaultdict(float))
for i in meanDict:
    minnFinal[i[0]][i[1]] = minnDict[i]

In [37]:
maxxFinal = defaultdict(lambda : defaultdict(float))
for i in meanDict:
    maxxFinal[i[0]][i[1]] = maxxDict[i]

In [47]:
res = defaultdict(lambda : defaultdict(float))
for i in maxxFinal:
    for q in maxxFinal[i]:
        res[i][q] = [minnFinal[i][q],meanFinal[i][q],maxxFinal[i][q]]

In [51]:
toPrint= json.dumps(res)

In [54]:
f = open("dataToUse.json","w")

In [55]:
f.write(toPrint)

966615